<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container" style="margin: 5rem">

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <form enctype="multipart/form-data" action="http://localhost:8080/upload" method="post">
                    <div style="display: flex; align-items: flex-end">
                        <div style="max-width: 70%">
                            <label for="formFileMultiple" class="form-label">Multiple files input</label>
                            <input class="form-control" type="file" name="myFiles" id="formFileMultiple" multiple>
                        </div>
                        <div style="max-width: 20%; margin-left: 5px">
                            <button type="submit" class="btn btn-primary" value="upload">
                                Upload
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6">
        </div>
    </div>

    <div class="row">
        <textfield style="height: 50vh; background-color: bisque; padding: 10px">hello</textfield>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>